<div class="container-fluid">
<div class="row">
  <div class="col-sm-6">
    <img src="/header.jpg" alt="donate image" class="img-fluid" />
  </div>

  <div class="col-sm-6 bg-warning">
    <h1 class="text-center mt-5 text-success">Donate Trees Now</h1>
    <%= render "form", donation: @donation %><br>
  </div>
</div>
</div>

