<div class="overflow-hidden bg-opacity-50" style="background-image: url('/rauforest.jpg'); background-size: cover; background-position: center; width: 100%; min-height: 100vh;">
<div class="row col-md-12">
  <div class="col-sm-7 pt-5 ps-5 text-white">
    <p class="display-3">Support Planting <br />and Growing Trees</p>
  
  </div>

  <div class="col-sm-4 rounded justify-content-end pt-2 me-1 mt-5" style="background: #000080;">
    <h1 class="text-center pt-3 text-white"></h1>
    <%= render "form", donation: @donation %><br>
  </div>

</div>
</div>


