

  <!-- Background image -->
  <div
    class="text-center d-flex justify-content-center align-items-center"
    style=
      "background-image: url('https://greenmanjaro.com/assets/Greenmanjaro-background-home-cf65450777bfaa12c70b9e7737749f67b028cb885987d0f101e8b740de89dfbe.jpg'); 
       height: 100vh;
      "
  >
    <div class="mask position-absolute top-0 end-0 bottom-0 start-0" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class='d-flex align-items-center justify-content-center'>
        <div class="text-white">
          <h1 class="my-3">Join us in the Kilimanjaro climate care projects.</h1>
          <h5 class="mb-4">We have chosen to act in favor of the people of Kilimanjaro.</h5>
          
          <a
            class="btn btn-outline-light btn-lg m-2"
            href="/donate"
            target="_blank"
            role="button"
          >Donate Now</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>