<div class="row">
  <div class="col-sm-6" style="background-image: url(/school.jpg); background-size: cover; min-height: 100vh; background-position: center;">
  </div>
  <div class="col-sm-6" style="background-color: #9ACD32;">
  
  <div class="px-3 pt-5" style="color: #800080;">
    <h1 class="text-center">Reforestation Rau Forest</h1>
    <div class="mx-auto col-sm-10 pt-4 fs-5 text-white">
      <p>With its location directly adjacent to the medium-sized city of Moshi in the Kilimanjaro region, Rau Forest is 
      an urban forest. Over the years, large-scale deforestation has taken place in this unique spot, mainly to provide for firewood. 
      The forest is now completely fenced, so cutting trees is no longer possible. With the funding from Greenmanjaro, the youth of 
      Roots & Shoots was able to set up a nursery next to the Rau Forest, beginning 2022. 
      
      </p><p>In this nursery various, indigenous species 
      will be raised. For 2022, the planting of 60,000 trees is scheduled. 
      Money is needed to further expand the reforestation of Rau Forest and to continue it in the coming years. Donate now for more 
      forest in Rau Forest.
      </p>
    </div>
    <div class="text-center py-5 fs-4"><%= button_to "Donate", new_donation_path, method: :get, class: "btn btn-warning fs-4 text-white" %></div>

  </div>
  </div>
</div>