<div class="row">
  <div class="col-sm-6" style="background-image: url(/schoolprojects.jpg); background-size: cover; min-height: 100vh; background-position: center;">
  </div>
  <div class="col-sm-6" style="background-color: #191970;">
  
  <div class="px-3 pt-5">
    <h1 class="text-center" style="color: #00FF7F;">School Projects</h1>
  <div class="mx-auto col-sm-10 pt-4 fs-5 text-white">
    <p>At this moment, due to the lack of trees and the heat, the children cannot play outside during school hours. 
    They have to stay inside the classroom all day. Early 2022, in total 2400 trees are planted at primary schools in three villages 
    in Moshi: Londoto, Kiruani and Mawala. </p><p>The earlier the better, the shade trees will allow them to play outside, which is important for their physical and mental development. The harvest from the mango, papaya and guava trees will enrich their school lunch. 
    There are other schools in Lower Moshi that are eager to plant trees, please help them and donate:</p>

    <div class="text-center py-5 fs-4"><%= button_to "Donate", new_donation_path, method: :get, class: "btn btn-success fs-4 text-white" %></div>
  </div>
  </div>
  
  </div>
</div>