<div class="row">
  <div class="col-sm-6" style="background-image: url(/village-project.jpg); background-size: cover; min-height: 100vh; background-position: center;">
  </div>

  <div class="col-sm-6" style="background-color: #FFA500;">
  <div class="px-3 pt-5" style="color: #006400;">
    <h1 class="text-center">Village Projects in Lower Moshi</h1>
    <div class="mx-auto col-sm-10 pt-4 fs-5">
      <p>In Lower Moshi, living conditions are very difficult. Deforestation has led to sandy plains, during the rainy season there 
      are floods, no trees and roots to hold the water and during the long dry season people have to walk large distances to find water. 
      Around the hut it is barren, no place to shelter from the sun. For families it is a daily struggle to find enough food.</p>

      <p>Spring 2022, Greenmanjaro funded the planting of trees for the village people of Londoto and Mawala. Almost 2000 trees, 
      shade as well as fruit trees are planted. The people of Kiruani, Miweleni and Mikocheni are very much looking forward to start 
      planting trees in their villages, please help them and donate.</p>
    </div>
    <div class="text-center py-5 fs-4"><%= button_to "Donate", new_donation_path, method: :get, class: "btn btn-warning fs-4 text-white" %></div>

  </div>
  
  </div>
</div>