<div class="bg-dark fixed-bottom">
<div class="row py-2">
<div class="col-md-6">
<p class="text-center text-white" style="font-size: 11px;">
Donate Now: TRIODOS Bank The Netherlands, IBAN NL06 TRIO 0338 8068 65. BIC/SWIFT: TRIONL2U
</p>
</div>
<div class="col-md-6">
<p class="text-center text-white" style="font-size: 11px;">
Copyright 2022 | All right reserved, Greenmanjaro Foundation | Design by Ellipsis Digital
  </div>
</div>
</div>