<header class="d-flex flex-wrap justify-content-center pt-3 pb-2 border-bottom bg-white">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="fs-3 btn btn-outline-warning ms-3">GreenManjaro</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page"><span class="text-warning fs-5">Home</span></a></li>
    <li class="nav-item"><a href="/donations/new" class="nav-link"><span class="text-warning fs-5">Donate</span></a></li>
    <li class="nav-item"><a href="/projects" class="nav-link"><span class="text-warning fs-5">Projects</span></a></li>
    <li class="nav-item"><a href="/contact" class="nav-link"><span class="text-warning fs-5">Contact</span></a></li>
  </ul>
</header>